<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h3><%= message %></h3>
        <h3><%= error.statusCode %></h3>
        <p><%= error.data %></p>
    </body>
</html>